@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;500&family=Rubik:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bd: #F5F5F5;
    --text-color: #111111;
    --text-small: #92929D;
    --text-smallest: #1FCB4F;
    --aside-bg: white;
    --assets-color: #C0BBE0;
    
}
body{
    font-family: "poppins", sans-serif;
    overflow-x: hidden;
    width: 96%;
    height: 100vh;
    margin: 0 auto;
    background: var(--body-bd);
}
h1{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}
h3{
    font-family: "rubik", sans-serif;
}
hr{
    border: 5;
    
}
.btn{
    background: linear-gradient(to right, #55E2E9, #933FFE);
    border: none;
    cursor: pointer;
    max-width: 261px;
    margin-left: 16px;
    font-family: "rubik", sans-serif;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: var(--text-color);
    
}
.button{
    display: inline-block;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #55E2E9, #933FFE) ;
    border-image-slice: 1;
    cursor: pointer;
    max-width: 261px;
    margin-left: 16px;
    font-family: "rubik", sans-serif;
    font-weight: 400;
    background: transparent;

}
.wrapper{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 293px auto 309px;
}
.logo{
    margin: 5px auto;
}
 h3 .logot{
    background-image: linear-gradient(to right, #55E2E9, #933FFE); 
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
    
}

aside{
    height: 100vh;
    border: 1px solid white;
}
aside .top{
    align-items: center;
}
aside .close{
    display: none
}
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    background: var(--aside-bg);
    top: 0.4rem
}

.aside-loans{
    display: flex;
    justify-content: space-between;
}
li{
    padding-bottom: 10px;
   font-family: "Rubik", sans-serif;
   font-weight: 400;
   font-Size: 12px;
   line-height: 18.96px;
   
    
} 

.inputs{
    position: relative;
    padding: 10px;
    border-radius: 8px;
  
}
.inputs::before{
    content: url(./Assets/search.png);
    position: absolute;
    left: 20px;
    top: 15px

}
input[type="search"]{
    padding-left: 30px;
    background-color: white;
   
}
.coin{
    display: flex;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: var(--aside-bg);

}

.image{
    width: 20px;
    height: 20px
}

.loan{
    background: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 8px;
}
.small-text{
    color: var(--text-smallest)
}
.portfolio{
font-family: "Rubik", sans-serif;
font-weight: 500;

}
.right .top .menu{
    display: none;
}

@media  screen and (max-width: 1200px) {
    .wrapper{
        width: 94%;
        grid-template-columns: 120px auto 300px;
    }
    
    aside .logo h3{
        display: none;
    }
    aside .sidebar .top-header h3{
        font-size: 16px;
    }
    aside .sidebar .top-header h4{
        font-size: 12px;
    }
    aside .sidebar .aside-loans{
        flex-direction: column;
        font-size: 12px;
        font-weight: bold;
    }
    aside .sidebar li h2{
        display: none;
    }
    aside .sidebar .lasti{
        width: 100px;
        position: relative;
        margin-top: 300px;
    }
    aside .sidebar .last{
        margin-top: 50;
    }

    aside .sidebar h2:last-child{
        display: none;
    }

    main .coin-list {
        flex-direction: column;
    }
    main .coin-list .coin{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 768px){
    .wrapper{
        width: 100%;
        grid-template-columns: 1fr;
    }
    
    aside{
        position: sticky;
        left: 0;
        height: 100vh;
        background: white;
        width: 209px;
        z-index: 5;
        display: none;
        
    }
    aside .logo h3{
        display: block;
    }
    aside .sidebar .aside-loans{
        display: flex;
        font-size: 12px;
        font-weight: bold;
    }
    aside .sidebar li h2{
        display: inline;
    }
    aside .close{
        display: inline-block;
        cursor: pointer;
    }
    
    main{
        margin-top: 45px;
    }
    /* .right .top{
        position: sticky;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 5.2rem;
        background-color: white;
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem white
    } */
    /* .right .top .menu{
        display: inline-block;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        left: 0.8rem
    } */

}