*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:  #F5F5F5; 

}
.login{
    width: 60%;
    margin: 15% auto
}
.containers{
    width: 100%
}
.left{
    width: 50%
}
.right{
    width: 50%
}
.containers .right img{
    height: 580px;
    width: 400px;
  
}

form{
    width: 100%;
    margin: 50px auto;
}
form input{
    width: 100%; 
    margin-top: 5px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    
} 
.logo h3{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 45px;
   
}


h3 .logo-text{
    background-image: linear-gradient(to right, #55E2E9, #933FFE); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.btn{
    background: linear-gradient(to right, #55E2E9, #933FFE);
    border: none;
    cursor: pointer;
    width: 80%;
    margin-left: 16px;
    margin-top: 30px;
    font-family: "rubik", sans-serif;
    font-weight: 400;
    padding: 10px auto
}
.sign-up{
padding: 5px;
background: linear-gradient(to right, #55E2E9, #933FFE);
text-decoration: none; 

}
.signup{
    display: none;
}
.log-in{
    position: relative;
}
.log-in .close{
    position: absolute;
    right: 20px;
    top: 0
}

@media screen and (max-width: 768px){
    .containers{
        flex-direction: column;
    }
    .right img{
        display: none;
    }
    .left{
        width: 100%
    }
    .login{
        width: 100%
    }
    form{
        width: 100%;
        margin: 0
    }
}



